.movie-card {
  width: 285px;
  height: auto;
  padding: 20px 20px 10px; 
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
  background: #fff;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}
.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.movie-poster {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.movie-poster:hover {
  transform: scale(1.05);
}

.movie-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

h2 {
  font-size: 20px;
  color: #333;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 100%; 
}

.year,
.type,
.rating {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
  width: 100%; 
}

.year {
  font-style: italic;
}

.type {
  font-weight: bold;
  color: #3a7d44;
}

.rating {
  color: #f39c12;
}
.addButton{
  background: #03b41d;
}
.deleteButton{
  background: #c0392b;
}
button {
  color: white;  
  width: 80%;
  font-size: 14px;  
  font-weight: bold;  
  padding: 8px 16px;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  transition: background-color 0.3s ease, transform 0.3s ease;  
  text-transform: uppercase;  
}

.addButton:hover {
  background-color: #009835; 
  transform: scale(1.05);  
}
.addButton.disabled{
  background-color: gray;
  pointer-events: none;
}
.deleteButton:hover {
  background-color: #982b00; 
  transform: scale(1.05); 
}
button:focus {
  outline: none;  
}

button:active {
  transform: scale(1);  
}
.rate {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 0px;
}

.rate-title-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.rate-title {
  margin-top: 20px;
  font-size: 20px; 
  font-weight: 700; 
  color: #333;
  margin-right: 10px; 
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif; 
  background: linear-gradient(45deg, #ff7301, #ffbc11); 
  -webkit-background-clip: text;
  color: transparent;
  transition: background 0.3s ease, color 0.3s ease;
}

.star-rating {
  font-size: 30px; 
  display: flex; 
  align-items: center; 
}

.star {
  cursor: pointer;
  margin: 0 5px; 
  color: #dcdcdc; 
  transition: color 0.3s ease, transform 0.2s ease;
}

.star:hover {
  color: #ffd700; 
  transform: scale(1.2); 
}

.star.filled {
  color: #ffd700; 
}

.star.hovered {
  color: #ffbf00; 
}

.checkButton {
  background: transparent;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: background-color 0.3s, transform 0.3s;
}

.checkButton:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.checkButton .mark {
  color: green;
  font-size: 20px;
}

.checkButton .empty {
  color: transparent;
  font-size: 20px;
  transition: color 0.3s ease;
}

.checkButton:hover .empty {
  color: #555;
}

.checkButton:active {
  transform: scale(1);
}




.movie-operations {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 10px;
}

.movie-buttons {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  gap: 10px; 
}

.checkButton {
  background: transparent;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 30px; 
  height: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: background-color 0.3s, transform 0.3s;
}

.checkButton:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.checkButton .mark {
  color: green;
  font-size: 20px;
}

.checkButton .empty {
  color: transparent;
  font-size: 20px;
  transition: color 0.3s ease;
}

.checkButton:hover .empty {
  color: #555;
}

.checkButton:active {
  transform: scale(1);
}

